html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(43, 43, 43);
    font-family: 'MedievalSharp', cursive;
    color: goldenrod;
    overflow: hidden;
}

@media screen and (orientation:landscape) {
    #canvas-container {
        overflow: hidden;
        width: 100%;
        text-align:center;
    }

    #canvas {
        position: relative;
        display: inline;
        width: 45%;
        height: 45%;
        image-rendering: pixelated;
    }


    .canvas-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
}

@media screen and (orientation:portrait) {
    #canvas-container {
        overflow: hidden;
        width: 100%;
        text-align:center;
    }

    #canvas {
        position: relative;
        display: inline;
        width: 90%;
        height: 50%;
        image-rendering: pixelated;
    }


    .canvas-center {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
}